@import "src/styles/mixins";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include desktop {
    gap: 110px;
  }
}

.navigation {
  display: none;

  @include desktop {
    display: block;
  }

  ul {
    list-style: none;
    padding: 0;

    @include desktop {
      display: flex;
      gap: 98px;
    }
  }

  li {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    &:hover {
      text-decoration: underline;
    }
  }

  a {
    text-decoration: none;
    color: black;
  }
}

.logo {
  svg {
    width: 100px !important;
    height: 26px !important;

    @include desktop {
      width: 193px !important;
      height: 50px !important;
    }
  }
}

.language-toggle {
  display: flex;
  height: 25px;
  border-radius: 20px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 50%;
    z-index: -1;
    height: 100%;
    left: 20%;
    background-color: #d9d9d9;
  }

  &__option {
    text-decoration: none;
    border-radius: 20px;
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

    position: relative;

    cursor: pointer;
    transition: background-color 0.5s;

    width: 50px;
    font-size: 12px;

    @include desktop {
      width: 60px;
      font-size: 16px;
    }

    p {
      margin: 0;
    }

    &_active {
      background-color: black;
      color: white;
      border-radius: 20px;
      z-index: 5;
    }

    &:first-child {
      left: 5px;
    }

    &:last-child {
      right: 5px;
    }
  }
}
